---
import Intro from '../components/intro.astro';
import Projects from '../components/projects.astro';
import Technologies from '../components/technologies.astro';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Ricky's Astro</title>
  </head>

  <body>
    <Intro />
    <Projects />
    <Technologies />
  </body>
</html>
