---
// No props for now
---
<section class="intro">
  <h1>Ricky <span class="highlight">Maaroef</span>,</h1>
  <h2>Vocational Student</h2>
  <p>
    A vocational student with a passion for Computer Science. Currently learning on modern web tools such as React and TailwindCSS.
  </p>
</section>
