---
// Could be later made dynamic
---
<section class="projects">
  <h3>Projects</h3>
  <div class="project-list">
    <div class="project-card">
      <h4>AshariQA</h4>
      <p>An inspired mock of IslamQA</p>
    </div>
    <div class="project-card">
      <h4>Coming Soon</h4>
      <p>Coming Soon</p>
    </div>
    <div class="project-card">
      <h4>Coming Soon</h4>
      <p>Coming Soon</p>
    </div>
    <div class="project-card">
      <h4>Coming Soon</h4>
      <p>Coming Soon</p>
    </div>
  </div>
</section>
